@font-face {
    font-family: 'outfit';
    src: url('../fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'young-serif';
    src: url('../fonts/young-serif/YoungSerif-Regular.ttf');
}

body{
    margin: 0;
    padding: 5rem 20rem;
    font-family: 'outfit';
    background-color: antiquewhite;
}

.container{
    padding: 2rem;
    background-color: white;
    border-radius: 1.5rem;
}

.image-container{
    width: 100%;
}

.image-container img{
    border-radius: 1rem;
    width: 100%;
}

.content{
    margin: 1rem 0;
}

.content .heading{
    font-family: 'young-serif';
    font-weight: normal;
    color: hsl(24, 5%, 18%);
}

.container .sub-heading{
    font-weight : 400;
    font-size: 0.9rem;
    color: hsl(30, 10%, 34%);
    
}

.preparation-time{
    margin: 2rem 0;
    padding: 1.5rem;
    background-color: hsl(330, 100%, 98%);
    border-radius: 0.7rem;
}

.preparation-time .heading {
    font-family : 'outfit';
    margin-top: 0;
    font-weight: 500;
    color: hsl(332, 51%, 32%);
}

.preparation-time .items li{
    margin: 0.8rem 0;
    font-weight: 300;
    font-size: 0.9rem;
}

.ingredients .items li, .instructions .items li{
    margin: 0.8rem 0;
    font-weight: 300;
    font-size: 0.9rem;
}

.nutrition .list tbody .item td{
    border-bottom:0.01rem solid rgb(208, 208, 208);
    padding: 1rem;

    font-weight: 300;
    font-size: 0.9rem;
}
.nutrition .list tbody .item:last-child td{
    border-bottom:0;
}
.nutrition .list{
    width: 100%;
}

.rule{
    background-color: rgb(208, 208, 208);
    box-shadow: none;
    border: 0;
    height: 0.03rem;
    margin: 2rem 0;
}

.f-500{
    font-weight: 500;
}

.brown{
    color : hsl(14, 45%, 36%)!important;
}

